include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pyproject.toml
recursive-include rezen *.py
recursive-include rezen py.typed
recursive-include docs *.md
recursive-exclude tests *
recursive-exclude venv *
recursive-exclude .git *
recursive-exclude __pycache__ *
recursive-exclude *.pyc *
recursive-exclude .pytest_cache *
recursive-exclude .mypy_cache *
recursive-exclude htmlcov *
